#schiebung
{
    margin-left:100px;
}

#entf_schieber,#schieber_gewicht,#schieber_hoehe{
    margin-bottom: 14px;
}

#palette{
    width:75px;
    height:75px;
    background-image:none;
   
    
}

#rot .ui-slider-range
{
     background:#ef2929;
     
}#rot .ui-slider-handle{
    
    border-color:#ef2929;
}

#gruen .ui-slider-range
{
     background:#8ae234;
     
}
#gruen .ui-slider-handle{
    
    border-color:#8ae234;
}

#blau .ui-slider-range
{
     background:#729fcf;
     
}#blau .ui-slider-handle{
    
    border-color:#729fcf;
}
