body {
  background: #000000 top left; 
  color: #FFFFFF;
  margin: 20px;
  font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  font-size:12px;
}


.abstandhalter {
  padding-left: 15px;
  padding-right: 15px;
}

.nur_anzeigen {
	border:0px;
	background: transparent;
	padding-bottom: 15px;
}

#entf_schieber, #schieber_gewicht, #schieber_hoehe {
	margin-bottom:14px;
}


	#palette {
		width: 75px;
		height: 75px;
		background-image: none;
	}
	
/* Die Elemente .ui-slider-range und .ui-slider-handle werden
   von jQuery UI bereitgestellt und daher nicht übersetzt */
	
	#rot .ui-slider-range { background: #ef2929; }
	#rot .ui-slider-handle { border-color: #ef2929; }
	
	#gruen .ui-slider-range { background: #8ae234; }
	#gruen .ui-slider-handle { border-color: #8ae234; }
	
	#blau .ui-slider-range { background: #729fcf; }
	#blau .ui-slider-handle { border-color: #729fcf; }
	
#karten_container { 
	float:left;
	height: 450px; 
	width:450px;
}
#sichtung_navigation{ 
	float:left;
}
ul#sichtungs_liste{
	width:150px;
	padding:0px;
	margin:0px;
}
li.sichtungen { 
	padding:4px; 
	background:#7B7382;
	border:1px #000 solid;  
	color:#fff; 
	list-style:none; 
}
li.sichtungen:hover { 
	background:#eee; 
	color:#000; 
}