div{
	float:left;
	height:245px;
	text-align:left;
	
}

#kopfteil {
 	width:100%;
 	
 	height:50px;

}
#hauptteil {
	background-color: grey;
	height: 500px;
}
#foo{
    background-color: blue;
    width:200px;
}

.hover{
    border:solid;
    border-style:dotted;
    border-width: 20px;
    border-color:fuchsia;
    
}
.kein_hover{
     border:solid;
    border-style:dotted;
    border-width: 20px;
    border-color:blue;
}
.mein_hover
{

    border-style:double;
    border-width: 50px;
    border-color:fuchsia;
}
.rabatt{
    border:solid;
    border-color:blue;
  
    border-width:3px;
}
.kein_rabatt{
    border:solid;
    border-color:red;
    border-width:3px;
}

#aendern2{
    background-color:blue;
}
 
.speisekarten_container{
    width: 96%;
	border: 1px solid gray;
}
 
.kopfteil{
    padding: 2%;
    width: 96%;
    height: 100px;
    overflow: hidden;
    border-fussteil: 1px solid gray;
}
 
 
.linke_spalte{
    float: left;
    padding: 4%;
    width: 41%;
	height: 1000px;
	border-right: 1px solid gray;
   
}
 
.rechte_spalte{
    float: right;
    padding: 4%;
    width: 41%;
height: 1000px;
	border-left: 1px solid gray;
}
 
.fussteil{
    clear:both;
    padding: 2%;
    width: 96%;
	height: 60px;
    border-top: 1px solid gray;
}


.nav{
       text-align: right;
       float: right;
       list-style: none;
       padding-left: 15px;
}


.vorspeisen li{
	   list-style-type: none;
	   padding-left: 10px;
}


.zutaten{
         padding-fussteil: 15px;
    }

.zutaten li{
       display: inline;
	   list-style-type: none;
	   padding-left: 15px;
    }
	
.fleisch{
  background-color: "#000000";   
    }
	
.hamburger{
  color: "#000000";  
   }
	
.fisch{

    color: "#000000"; 
   }
   
.tofu{
    color: "#00FF00";  
    }
	
.portobello{
    color: "#00FF00"; 
   }

.blatt_symbol{
list-style-image:url('pixx/blatt.png');
}	
body{
	background-color:#000000;
}

p{
	color:#33FF66;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}

#logo {
	position:relative;
	z-index: 4;
}

#top {
	position:absolute;
	left:191px;
	top:15px;
	z-index: 4;
}

#container{
	position:absolute;
	left:0px;
	top:0px;
	z-index: 0;
}

.blitz{
	display:none;
	position:absolute;
	left:0px;
	top:0px;
	z-index: 0;
}

#rahmen {
	position:absolute;
	left:100px;
	top:100px;
	width:545px;
	height:629px;
	background-image:url(pixx/rahmen.png);
	z-index: 3;
	overflow: hidden;
}

#einzelbilder{
	position:relative; 
	left:91px; 
	top:84px; 
	width:367px; 
	height:460px; 
	z-index: 2;
	overflow: hidden;
}

.gesicht{
	position:relative;
	left:0px;
	top:0px;	
	z-index: 1;
}

#kopf{
	height:172px;
}

#augen{
	height:79px; 
}

#nase{
	height:86px; 
}

#mund{
	height:117px; 
}
#meinbild
{
position:absolute;
display:none;

}
