
#steuerung{
	clear:both;
}

.aktuelles_blatt{
	float:left;
}
.gewonnen {
	color:green;
}
.verloren {
	color:red;
}

#mein_blatt{
	clear:both;
	border: 1px solid gray;
	height: 250px;
	width: 835px;
}

#neue_karte_button, #keine_karte_button, #neustart_button{
	display:none;
	float:left;
}

h3 {
	display: inline;
	padding-right: 40px;
}

#ergebnis{
	display:none;
	position:absolute;
	top: 100px;
	left: 20px;
}
#ergebnis > img {
	width: 500px;
	height: 250px;
}
#myImg
{
    width:800px;
    height:auto;
    margin-left:auto;
    margin-right:auto;
}
#popup{
    margin-left:auto;
    margin-right:auto;
    width:450px;
    height:300px;
}
body{
    background-color:#000000; 
	color: white;
}

/* Stile für Tabs */
#hauptteil {
  background:#181818;
  color:#111;
  padding:15px 20px;
  width:600px;
  border:1px solid #222;
  margin:8px auto;
}
#hauptteil > li, #hauptteil > ul > li { list-style:none; float:left; }
#hauptteil ul a {
  display:block;
  padding:6px 10px;
  text-decoration:none!important;
  margin:1px;
  margin-left:0;
  color:#FFF;
  background:#444;
}
#hauptteil ul a:hover {
  color:#FFF;
  background:#111;
  }
#hauptteil ul a.selected {
  margin-bottom:0;
  color:#000;
  background:snow;
  border-bottom:1px solid snow;
  cursor:default;
  }
#hauptteil div {
  padding:10px 10px 8px 10px;
  padding-top:3px;
  margin-top:-15px;
  clear:left;
  background:snow;
  height: 300px ;
}
#hauptteil div a { color:#000; font-weight:bold; }

